<html>
    <head>
        <title>{{title}}</title>
        <style>
            body {padding: 20px 30px;}
            .node-read-div2p {display: inline-block;}
            img {max-width: 90%; margin: auto; left: 0; right: 0;}
            .rejects {background: #ef6666}
            .matches {background: #66ee66;}
            .hasProductLink {outline: 2px solid red;}
            .contentSource {display: inline-block; overflow: scroll; width: 900px; height: 1200px; background: #fafafa; vertical-align: top; margin-right: 20px;}
            .dataItem {display: inline-block; margin-right: 5px;}
            .postMeta {display: block; width: 100%;}
            ul.resultData {max-width: 33%; padding: 20px; background: #f6f6f6; display: inline-block; vertical-align: top; }
            .sources {width: 3000px; }
            .resultData h4 {margin: 0 5px 20px 5px; }
        </style>
    </head>
    <body>
        {{#each posts}}
            <section class="section">
                <div class="postMeta">
                    <h1><a href="{{permalink}}">{{title}}</a></h1>
                    <ul class="resultData">
                        <h4>Images</h4>
                        {{#each images}}
                            <li class="dataItem"><img src="{{this}}" width="50px" /></li>
                        {{/each}}
                    </ul>
                    <ul class="resultData">
                        <h4>Product Links</h4>
                        {{#each productLinks}}
                            <li class="dataItem"><a href="{{this.link}}">{{this.title}}</a></li>
                        {{/each}}
                    </ul>
                </div>
                <div class="sources">
                    {{#each sources}}
                        <div class="contentSource">
                            <h2>{{name}}</h2>
                            {{#if content}}
                                {{{content}}}
                            {{/if}}
                            {{#if link}}
                                <iframe src={{link}} width="100%" height="2000px"> </iframe>
                            {{/if}}
                        </div>
                    {{/each}}
                </div>
            </section>
        {{/each}}
    </body>
</html>